body{
    font-family: 'Roboto', sans-serif;
    color:#2E2F42;
}
header nav a{
    text-decoration: none;
}
#logo{
    color: #4D5AE5;
    font-size: 18px;
    font-weight: 800;
    font-family: 'Raleway';
    text-decoration: none;
    text-transform: uppercase;
}
#logo span{
    color:#2E2F42;
    line-height: 1.17;
    letter-spacing: 0.54px;
}   
header nav ul li{
    list-style: none;   
}
header nav ul li a{
    font-family: 'Roboto';
    color: #2E2F42;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.32px;
    line-height: 1.5;
}
header nav ul li a:hover,address ul li a:hover{
    color: #4D5AE5;
    
}
header nav ul li a:focus,address ul li a:focus{
    color: #4D5AE5;
}
address ul li{
    list-style: none;
}

address ul li a{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
    text-decoration: none;
    color:#2E2F42
}
.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #2E2F42;
    color: #fff; 
}

.hero h1{
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 1.12px;
    width: 496px;
}
.hero button{
    background-color: #4D5AE5;
    color:#fff;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    padding: 16px 32px;
    font-size: 16px;
    font-weight: 500;
}
.hero button:hover{
    cursor: pointer;
}
.feature-container{
    background-color: #fff;
}
.feature-container ul li{
    list-style: none;
    width: 264px;
}

.feature-container ul li h3{
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
}
.feature-container ul li p{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
}

.body-container h2{
    text-align: center;
}
.body-container ul li {
    list-style: none;
}

.team-container{
    background-color: #F4F4FD;
}
.team-container h2{
    font-size: 36px;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: 0.72px;
    text-align: center;
}
.team-container ul li p{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
    text-align: center;
}
.team-container ul li h3{
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2; 
    letter-spacing: 0.4px;
    text-align: center;
}


.team-container ul li{
    list-style: none;
}



footer{
    background-color: #2E2F42;
    color: white;
}
footer #logo-footer {
    color: #4D5AE5;
    font-size: 18px;
    font-weight: 800;
    font-family: 'Raleway';
    text-decoration: none;
    text-transform: uppercase;
}
footer #logo-footer span{
    color:#F4F4FD;
    line-height: 1.17;
    letter-spacing: 0.54px;
}  
footer p{
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.32px;
    width: 264px;
}

/*Portfolio Design*/
.portfolio-hero ul li{
    list-style: none;
}
.portfolio-hero ul li button{
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;   
    letter-spacing: 0.64px;
    border: none;
    color: #4D5AE5;
    padding: 12px 24px;
    border-radius: 4px;
    background-color:#F4F4FD;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
}
.portfolio-hero ul li button:hover{
    color: #F4F4FD;
    background-color: #4D5AE5;
    cursor: pointer;
}

.body-container ul li {
    list-style: none;
}
.body-container ul li h3{
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.4px;
}
.body-container ul li p{
  
line-height: 1.5; 
letter-spacing: 0.32px;
}
