body{
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
    color: #2E2F42;
    font-size: 16px;
    letter-spacing: 0.32px;
}

.main-header-nav-link{
    text-decoration: none;
}

.logo{
    color: #4D5AE5;
    font-size: 18px;
    font-weight: 800;
    font-family: 'Raleway';
    text-decoration: none;
    text-transform: uppercase;
}

.header-logo{
    font-size: 18px;
    font-weight: 800;
    font-family: 'Raleway';
    color:#2E2F42;
    line-height: 1.17;
    letter-spacing: 0.54px;
}   

.main-header-nav .main-header-nav-item{
    list-style: none;   
}

.main-header-nav-link{
    color: #2E2F42;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.32px;
    line-height: 1.5;
}

.main-header-nav-link:hover,.main-header-nav-address:hover{
    color: #4D5AE5;
    
}

.main-header-nav-link.active{
    color:#4D5AE5
}

.main-header-nav-link:focus,.main-header-nav-address:focus{
    color: #4D5AE5;
    outline: transparent;
}

.main-header-nav-address-link{
    list-style: none;
}

.main-header-nav-address{
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 0.32px;
    text-decoration: none;
    color:#2E2F42
}

.hero { 
    background-color: #2E2F42;
    color: #fff; 
}

.hero-title{
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 1.12px;
    width: 496px;
}

.button{
    background-color: #4D5AE5;
    color:#fff;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    padding: 16px 32px;
    font-size: 16px;
    font-weight: 500;
}

.button:hover{
    cursor: pointer;
    color: #4D5AE5;
    background-color: white;
}

.image-title{
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.1; 
    letter-spacing: 0.72px;
}

.feature-container{
    background-color: #fff;
}

.feature-item{
    list-style: none;
    width: 264px;
}

.feature-title{
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
}
.feature-description{
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 0.32px;
}

.images {
    list-style: none;
}

.team-container{
    background-color: #F4F4FD;
}

.team-title{
    font-size: 36px;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: 0.72px;
}

.team-position{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
}

.team-name{
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2; 
    letter-spacing: 0.4px;
}

.team-images{
    list-style: none;
}

.footer-container{
    background-color: #2E2F42;
    color: white;
}

.logo .footer-logo{
    font-size: 18px;
    font-weight: 800;
    font-family: 'Raleway';
    color:#F4F4FD;
    line-height: 1.17;
    letter-spacing: 0.54px;
}  
.footer-description{
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.32px;
    width: 264px;
}

/*Portfolio Design*/
.button-link{
    list-style: none;
}

.buttons{
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;   
    letter-spacing: 0.64px;
    border: none;
    color: #4D5AE5;
    padding: 12px 24px;
    border-radius: 4px;
    background-color:#F4F4FD;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
}

.buttons:hover{
    color: #F4F4FD;
    background-color: #4D5AE5;
    cursor: pointer;
}

.buttons:focus{
    color: #F4F4FD;
    background-color: #4D5AE5;
    outline: transparent;
}

.button-link,  .body-images{
    list-style: none;
}

.images-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
}

.image-description{
line-height: 1.5; 
letter-spacing: 0.32px;
}
